


/* ---------------------Shop All Product--------------- */

.shopallproduct-main{
  background-color: #F9FAFB;
  padding:2vw 7vw;
  
}
.Links ul{
  display: flex;
  gap: 5px;
  list-style: none;
} 
/* ------------------------Shop Grid Products-------------------- */
/* Responsive */
@media (max-width:425px){
  .filter-box{
    width:95%;
    padding:15px;
  }
  .Productfilter{
    padding: 32px 32px !important;
  }
  .Productfilter p{
    font-size: 14px;
  }
  }

/* ===768px media */
@media (max-width:768px){
  .filter-box{
    display: none;
  }
  .shopGrid-container{
    grid-template-columns: 1fr !important;
  }
}

/* ====1024px */



.Productfilter{
  padding: 42px 62px;
  display: flex;
  justify-content: space-between;
 
}

.shopGrid-container{
  display: grid;
  grid-template-columns: 340px 1fr;
  gap: 18px;
  padding: 0px 32px;
}

/* Container */
.filter-box{
  /* width:320px; */
  background:#fff;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.05);
}

/* Title */
.title{
  font-size:20px;
  margin-bottom:20px;
}

/* Sections */
.section{
  margin-bottom:25px;
}

.section h3{
  margin-bottom:10px;
  font-size:16px;
}

/* Checkbox */
.section label{
  display:block;
  margin-bottom:8px;
  color:#555;
  cursor:pointer;
}

.section input[type="checkbox"]{
  margin-right:8px;
}

/* Price */
.price{
  display:flex;
  justify-content:space-between;
  font-size:14px;
  margin-bottom:10px;
}

input[type="range"]{
  width:100%;
}

/* Sizes */
.sizes{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.sizes button{
  padding:8px 12px;
  border:1px solid #ccc;
  border-radius:10px;
  background:#fff;
  color: black;
  cursor:pointer;
  transition:0.3s;
}

.sizes button:hover{
  background:#000;
  color:#fff;
}

/* Colors */
.colors{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.c{
  width:35px;
  height:35px;
  border-radius:50%;
  border:1px solid #ccc;
  cursor:pointer;
}

/* Color styles */
.black{ background:#000; }
.white{ background:#fff; }
.gray{ background:#6b7280; }
.brown{ background:#c2a77d; }
.blue{ background:#2563eb; }
.red{ background:red; }

/* Button */
.clear-btn{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  color: black;
  background:#f9f9f9;
  border-radius:10px;
  cursor:pointer;
  transition:0.3s;
}

.clear-btn:hover{
  background:#000;
  color:#fff;
}



/* --------------------shop right------------ */


.shop-img-div{
  height: 511px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
}
.shop-image {
 height: 391px;
  width: 291px;
  display: flex;
  justify-content: center;
}
.shop-image img{
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.shopright{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit , minmax(250px,1fr ));
}


/* ----media 425px */
@media (max-width:425px){
  .next-pages a{
    font-size: 12px !important;
  }
}
@media (max-width:320px){
  .next-pages {
    gap: 10px !important;
  }
}

.next-pages{
  display: flex;
  justify-content: center;
  gap: 18px;
  padding-top:5vh;
  padding-bottom: 9vh;
}
.next-pages a{
  border: 0.9px solid rgb(118, 115, 115);
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}



/* ----media for 425px */
@media (max-width:425px){
   .reviewcard{
    flex-direction: column;
    gap: 34px;
   }
}

.reviewcard{
  padding: 7vh 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F9FAFB;

  
}
.securepay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.securepay p{
 font-size: 12px;
 color: #4A5565;
}

